<p><%= t('.greeting', :recipient => @resource.name, :default => "Welcome #{@resource.name}!") %></p>

<p><%= t('.instruction', :default => "You can confirm your account email through the link below:, Once you confirmed email, Your Batch rep Or Navodayans Admin will Activate your Account soon") %></p>

<p><%= link_to t('.action', :default => "Confirm my account"),
         confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %></p>
